// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//=====================================================//
// Variables
//=====================================================//

  $black: #333;

.status {
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 0 rgba(255,255,255,0.6);
  margin: 0 0 10px;
  .admin {
    display: none;
  }
  &:hover {
    .admin {
      display: inline;
    }
  }
}